@keyframes test {
  0%   {color:red;}
  33%  {color:blue;}
  66%  {color:green;}
  100% {color:red;}
}
table,
td {
    border: 1px solid #333;
    width: 100px;
    height: 100px;
}

button {
    width: 100px;
    height: 100px;

}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

p {
    font-size: 20px;
    color: red;
}

h3 {
    font-size: 20px;

}

h4{
    font-size: 24px;
   
} 

h5{
    font-size: 24px;
    display: inline;
    animation-name: test;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
